@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin&display=swap');

*{
    margin: 0;
    font-family: 'Kaisei Tokumin', serif;
}

body{
    background-color: #f0f0f0;
}

.drop-bar{
    display: none;
}

.drop-bar-option{
    display: none;
}

#smallnav{
    visibility: hidden;
    height: 0px;
}


header{
    color: #f0f0f0;
    background-color: #0f0f0f;
    font-size: 32px;
    margin-bottom: 64px;
}

header h1{
    margin-left: 8px;
    display: inline-block;
    font-family: 'Dancing Script', cursive;
}

#largenav{
    float: right;
    margin: 16px 16px 0px 0px;
    font-size: 24px;
}
#largenav a{
    color: #f0f0f0;
    text-decoration: none;
    margin-left: 24px;
}

footer{
    background-color: #0f0f0f;
    overflow: auto;
}

#footerbox{
    float: right;
    margin: 10px;
}

#footerbox a{
    color: #f0f0f0;
    font-size: 30px;
}

a i{
    margin: 5px 10px;
}

#largenav a:hover{
    text-decoration: underline;
}

#description{
    background-color: #e6e6e6;
    width: 60%;
    padding: 32px 48px;
    margin: auto;
} 

@media screen and (max-width: 1000px){
    nav a{
        margin-left: 16px;
   }
}

@media screen and (max-width: 800px){
    #description{
        width: 80%;
   }
    header{
        margin-bottom: 32px;
   }
    #largenav{
        visibility: hidden;
        height: 0px;
   }
    #smallnav{
        visibility: visible;
   }
    .drop-bar-button span{
        display:block;
   }
    .drop-bar-option{
        font-size: 24px;
        padding: 10px 5px 0px 5px;
        background-color: #f2f2f2;
        visibility: hidden;
   }
    .drop-bar-button{
        width: 50px;
        font-size: 30px;
        padding-left:10px;
        position: absolute;
        top: 9px;
        right: 5px;
        float: left;
   }
    .drop-bar-button i{
        color: #fafafa;
        margin-top: 16px;
   }
    span:hover .header-fa{
        background-color:#ff1a1a;
   }
    .drop-bar-button:hover .drop-bar{
        width: 170px;
        height: 160px;
        display: inline-block;
   }
    .drop-bar-button:hover .drop-bar-option{
        width: 170px;
        height: 40px;
        display: block;
        position: relative;
        top:18px;
        background-color: #0f0f0f;
        right:141px;
        float: left;
        visibility: visible;
        text-decoration: none;
        color: #f0f0f0;
   }
    .drop-bar-option:hover{
        background-color: #cccccc;
   }
}

@media screen and (max-width: 600px){
    #description{
        width: 80%;
        padding: 2%;
   }
}

@media screen and (max-width: 450px){
    header{
      font-size: 24px;
   }
   .drop-bar-button{
        position: absolute;
        top: -2px;
        right: 5px;
        float: left;
   }
   .drop-bar-button:hover .drop-bar-option{
        width: 170px;
        height: 40px;
        display: block;
        position: relative;
        top:8px;
        background-color: #0f0f0f;
        right:141px;
        float: left;
        visibility: visible;
        text-decoration: none;
        color: #f0f0f0;
    }
}